PUSHI 10
PUSHN 10
PUSHI 0
PUSHI 0
START
PUSHG 0
WRITEI
PUSHS "\n"
WRITES
l0c: NOP
PUSHG 11
PUSHG 0
EQUAL
NOT
JZ l0f
PUSHGP
PUSHI 1
PADD
PUSHG 11
READ
ATOI
STOREN
PUSHG 11
PUSHI 1
ADD
STOREG 11
JUMP l0c
l0f: NOP
PUSHI 0
STOREG 11
l1c: NOP
PUSHG 11
PUSHG 0
PUSHI 2
DIV
EQUAL
NOT
JZ l1f
PUSHGP
PUSHI 1
PADD
PUSHG 11
LOADN
STOREG 12
PUSHGP
PUSHI 1
PADD
PUSHG 11
PUSHGP
PUSHI 1
PADD
PUSHG 0
PUSHI 1
SUB
PUSHG 11
SUB
LOADN
STOREN
PUSHGP
PUSHI 1
PADD
PUSHG 0
PUSHI 1
SUB
PUSHG 11
SUB
PUSHG 12
STOREN
PUSHG 11
PUSHI 1
ADD
STOREG 11
JUMP l1c
l1f: NOP
PUSHGP
PUSHI 1
PADD
PUSHI 0
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 2
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 3
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 4
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 5
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 6
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 7
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 8
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1
PADD
PUSHI 9
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
STOP