PUSHN 15
PUSHI 0
PUSHI 0
PUSHI 0
START
l1c: NOP
PUSHG 15
PUSHI 5
INF
JZ l1f
PUSHI 0
STOREG 16
l0c: NOP
PUSHG 16
PUSHI 3
INF
JZ l0f
PUSHGP
PUSHI 0
PADD
PUSHG 15
PUSHI 3
MUL
PUSHG 16
ADD
READ
ATOI
STOREN
PUSHG 16
PUSHI 1
ADD
STOREG 16
JUMP l0c
l0f: NOP
PUSHG 15
PUSHI 1
ADD
STOREG 15
JUMP l1c
l1f: NOP
PUSHI 0
STOREG 15
l3c: NOP
PUSHG 15
PUSHI 5
INF
JZ l3f
PUSHI 0
STOREG 16
PUSHI 0
STOREG 17
l2c: NOP
PUSHG 16
PUSHI 3
INF
JZ l2f
PUSHG 17
PUSHGP
PUSHI 0
PADD
PUSHG 15
PUSHI 3
MUL
PUSHG 16
ADD
LOADN
ADD
STOREG 17
PUSHG 16
PUSHI 1
ADD
STOREG 16
JUMP l2c
l2f: NOP
PUSHG 17
WRITEI
PUSHS "\n"
WRITES
PUSHG 15
PUSHI 1
ADD
STOREG 15
JUMP l3c
l3f: NOP
STOP