PUSHI 0
PUSHN 10
PUSHI 0
START
READ
ATOI
STOREG 0
l0c: NOP
PUSHG 11
PUSHG 0
EQUAL
NOT
JZ l0f
PUSHGP
PUSHI 1
PADD
PUSHG 11
READ
ATOI
STOREN
PUSHG 11
PUSHI 1
ADD
STOREG 11
JUMP l0c
l0f: NOP
PUSHG 11
PUSHI 1
SUB
STOREG 11
l1c: NOP
PUSHG 11
PUSHI 0
SUPEQ
JZ l1f
PUSHGP
PUSHI 1
PADD
PUSHG 11
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHG 11
PUSHI 1
SUB
STOREG 11
JUMP l1c
l1f: NOP
STOP
