PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 0
l1c: NOP
PUSHG 0
PUSHG 1
EQUAL
NOT
JZ l1f
READ
ATOI
STOREG 3
PUSHG 3
PUSHG 2
INF
PUSHG 1
PUSHI 0
EQUAL
ADD
PUSHI 1
SUPEQ
JZ l0
PUSHG 3
STOREG 2
l0: nop
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP l1c
l1f: NOP
PUSHG 2
WRITEI
PUSHS "\n"
WRITES
STOP
