PUSHN 10
PUSHI 0
PUSHI 0
PUSHI 0
START
l0c: NOP
PUSHG 10
PUSHI 10
EQUAL
NOT
JZ l0f
PUSHGP
PUSHI 0
PADD
PUSHG 10
READ
ATOI
STOREN
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP l0c
l0f: NOP
PUSHI 0
STOREG 10
l3c: NOP
PUSHG 10
PUSHI 10
EQUAL
NOT
JZ l3f
PUSHG 10
PUSHI 1
ADD
STOREG 11
l2c: NOP
PUSHG 11
PUSHI 10
EQUAL
NOT
JZ l2f
PUSHGP
PUSHI 0
PADD
PUSHG 10
LOADN
PUSHGP
PUSHI 0
PADD
PUSHG 11
LOADN
SUP
JZ l1
PUSHGP
PUSHI 0
PADD
PUSHG 10
LOADN
STOREG 12
PUSHGP
PUSHI 0
PADD
PUSHG 10
PUSHGP
PUSHI 0
PADD
PUSHG 11
LOADN
STOREN
PUSHGP
PUSHI 0
PADD
PUSHG 11
PUSHG 12
STOREN
l1: nop
PUSHG 11
PUSHI 1
ADD
STOREG 11
JUMP l2c
l2f: NOP
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP l3c
l3f: NOP
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 4
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 5
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 6
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 7
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 8
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 9
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
STOP
