PUSHN 5
PUSHN 4
START
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 1
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 2
PUSHI 3
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 3
PUSHI 4
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 4
PUSHI 5
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 4
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
PUSHGP
PUSHI 5
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 1
STOREN
PUSHGP
PUSHI 5
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 2
STOREN
PUSHGP
PUSHI 5
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 3
STOREN
PUSHGP
PUSHI 5
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 4
STOREN
PUSHGP
PUSHI 5
PADD
PUSHI 0
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 5
PADD
PUSHI 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
PUSHGP
PUSHI 5
PADD
PUSHI 2
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 5
PADD
PUSHI 3
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
STOP
